stages: [build]

variables:
  IMAGE_NAME: docker.io/$DOCKER_USERNAME/mlops-flask

build_and_push:
  stage: build
  image: docker:24.0.9
  services: [docker:24.0.9-dind]
  variables:
    DOCKER_DRIVER: overlay2
  script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    - docker build -t $IMAGE_NAME:$CI_COMMIT_SHORT_SHA .
    - docker tag $IMAGE_NAME:$CI_COMMIT_SHORT_SHA $IMAGE_NAME:latest
    - docker push $IMAGE_NAME:$CI_COMMIT_SHORT_SHA
    - docker push $IMAGE_NAME:latest
  only:
    - main
