name: Build & Push Docker image to Docker Hub

on:
  push:
    branches:
      - main        # chỉ chạy khi đẩy lên nhánh main

jobs:
  build-and-push:
    runs-on: ubuntu-latest   # dùng runner cloud của GitHub

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/mlops-flask:latest
